// Default theme:
$color-primary: #1976D2;
$color-secondary: #424242;
$color-accent: #82B1FF;
$color-error: #FF5252;
$color-info: #2196F3;
$color-success: #4CAF50;
$color-warning: #FFC107;


// Override here...
$color-primary: #1976d2;