@import "helpers/variables";
@import "vendor";
@import "app";


.stuff {
  color: #000000;
}


.edit-boss-monster-tracker .v-input--checkbox {
  height: 30px;
  
  .v-input__control {
    margin: 0 auto !important;
  }
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .3s ease;
  }
  .fade-enter, .fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
	opacity: 0;
  }